
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>
<script>
    $(function () {
        $("#nextBtn").on('click', function () {
            var tmp = $("#NextNumber");
            tmp.html('');
            getNextNumber();

        });
        ShowItems()
    });
    function ShowItems() {
        var url = "/api/Calc";
        $.get(url, function (data) {
            var tmp = $("#Items");
            $.each(data, function () {
                tmp.append("<li>" + this + "</li>");
            });
        });
    }
    function getNextNumber() {
        var request = $('#Number').val();
        var url = "/api/Calc?Postion=" + request;
        $.get(url, function (data) {
            var tmp = $("#NextNumber");
            tmp.html(data);
        });
    }
</script>
<div>
    <input type="number" id="Number" />
    <button id="nextBtn">Next Number</button>
    <p id="NextNumber">

    </p>
</div>
<div id="Items">

</div>